<div class="background__perfomance">
  <div class="MainContainer">
    <h1 class="HeaderTitle">Perfomance test (Angular)</h1>
    <h4>Roberto Acuña, William Cadenas, Elkin Rodriguez</h4>
    <button *ngIf="!perfomanceActive" (click)="startPerfomanceTest()" class="InitButton">INICIAR</button>
  </div>
</div>

<div #target class="perfomance_section hidden">
  <div class="container__perfomance">

    <div class="container_actions">
        <h1 class="Operation">Click one operation</h1>
        <div class="Action__Items">
            <button class="buttons-actions " (click)="paintAllCells()">Paint all cells</button>
            <button class="buttons-actions " (click)="removeCells()">Remove 100 cells</button>
            <button class="buttons-actions " (click)="addNewCells()">Add 100 cells</button>
            <button class="buttons-actions " (click)="updateCells()">Reload the table</button>
        </div>
    </div>

    <h1>
      Simulated table of {{INFORMATION.length}} x {{INFORMATION.length}}
    </h1>
    <div class="container_table">
        <table class="blueTable">
            <thead>
              <th *ngFor="let item of INFORMATION" >Row</th>
            </thead>
            <tbody #bodyTable>
              <tr *ngFor="let item of INFORMATION" >
                <td class="pointer" (click)="activeCell($event)"  *ngFor="let item of INFORMATION">{{item}}</td>
              </tr>
            </tbody>
          </table> -->
    </div>
<!--     
    <div class="information">
      <h4>
        Browser Information
      </h4>
      <p>{{DEVICE_INFO[0]}} </p>
      <p>{{DEVICE_INFO[1]}} </p>
      <p>{{DEVICE_INFO[2]}} </p>
      <p>{{DEVICE_INFO[3]}} </p>
      <p>{{DEVICE_INFO[4]}} </p>
      <p>{{DEVICE_INFO[5]}} </p>
    </div> -->
<!-- 
    <table class="blueTable">
      <thead>
        <th *ngFor="let item of INFORMATION" >Row</th>
      </thead>
      <tbody #bodyTable>
        <tr *ngFor="let item of INFORMATION" >
          <td class="pointer" (click)="activeCell($event)"  *ngFor="let item of INFORMATION">{{item}}</td>
        </tr>
      </tbody>
    </table> -->
  </div>
</div>
<ng-progress thick="true" color="#6EF7AD"></ng-progress>