.background__perfomance
    position: relative
    width: 100%
    min-height: 100vh
    background: #2D1555
    
.MainContainer
    position: relative
    padding: 50px 48px
    width: 100%
    min-height: 100vh
    display: flex
    flex-direction: column
    align-items: center 
    justify-content: center

    h4 
        color: #fff
        padding-bottom: 5px
.HeaderTitle
    color: #6EF7AD
    font-size: 90px
    @media screen and (max-width: 991px)
        font-size: 45px

.InitButton
    position: relative
    outline: none
    background: none
    border: 1px solid #FFB800
    border-radius: 100%
    font-weight: 600

    width: 120px
    height: 120px

    color: #FFB800
    
    cursor: pointer
    box-sizing: border-box

    transition: all .3s cubic-bezier(0.39, 0.58, 0.57, 1)
    &:hover 
        transform: scale(1.4)
        border-width: 5px
        color: #fff
    
.perfomance_section
    position: relative
    width: 100%
    min-height: 100vh 
    .container__pefomance 
        position: relative
        width: 100%
        min-height: 100% 
        padding: 50px 48px 

.hidden 
    display: none
.show 
    display: block    