<!-- Este sera el contenedor principal, el que aparece al cargar la página principal -->
<div class="MainWrapper">
    <nav class="AppBar">
        <div class="BrandLogo">Loudify.</div>
        <ul class="Loudify__Navigation">
            <li class="active">Home</li>
            <li>Sounds</li>
            <li>Perfomance</li>
            <li>Discover</li>
        </ul>
    </nav>
    <div class="BackgroundSvg"></div>
    <div class="AppContent">
        <section class="AppContent__Item">
            <div class="ShadowText">MUSIC</div>
            <h1 class="Title--white">Sounds Good</h1>
            <h2 class="Subtitle--orange">Sounds Louder</h2>
            <p class="LoudifyDescription">
                Prepare for a list of incredible music with Loudify Get newest tracks
                and follow the creations of your favorite artist.
            </p>
            <div class="ShadowText__Bottom">NOW</div>
            <span class="BottomSubtitle--green">Turn Up The Speakers</span>
        </section>
        <div class="AppContent__Item SvgGreenBackground">
            <img class="Image SpeakerImage" src="assets/images/top50.png" alt="Speaker">
        </div>
    </div>
</div>
<div class="SecondWrapper">
    <div class="BannerWrapper BannerPurple">
        <div class="Banner primary">
            <h1>ELECTRONIC DANCE MUSIC</h1>
        </div>
    </div>
    <div class="WrapperGarrix">
        <div class="AppContent__Item">
            <h1 class="ShadowTextLoudify">
                Loudify.
            </h1>
            <h1 class="ArtisTitle">
                Martin Garrix
            </h1>
            <div class="SongList Garrix">
                <ul class="SongListGarrix">
                    <li>
                        <div class="SongTitle 1">Scared To be Lonely </div>
                        <span class="SongSubtitle">Martin Garrix ft Dua Lipa </span>
                    </li>
                    <li>
                        <div class="SongTitle 2">So far away </div>
                        <span class="SongSubtitle">Martin Garrix & David Guetta </span>
                    </li>
                    <li>
                        <div class="SongTitle 3">Glitch </div>
                        <span class="SongSubtitle">Martin Garrix, Julian Jordan </span>
                    </li>
                    <li>
                        <div class="SongTitle 4">Ocean</div>
                        <span class="SongSubtitle">Martin Garrix ft Dua Lipa </span>
                    </li>
                </ul>
            </div>
            <div class="BannerWrapper  Garrix">
                <div class="Banner primary">
                    <h1>TOP 1 DJ MAG ( LOUDIFY )</h1>
                </div>
            </div>
        </div>
        <div class="AppContent__Item Right">
            <div class="GarrixSvgBackground"></div>
            <img class="Image MartinGarrix" src="assets/images/martingarrix.png" alt="Martin Garrix">
        </div>
    </div>
</div>
<div class="ThirdWrapperSeparador">
    <div class="BannerWrapper">
        <div class="Banner secondary">
            <h1>POP</h1>
        </div>
    </div>
</div>
<div class="WrapperCharliePuth">
    <div class="CharlieWaves"></div>
    <div class="CharlieWrapper">
        <img class="ImageOfCharliePuth" src="assets/images/charlieputh.png" alt="Charlie Puth">
    </div>
    <div class="CharlieDescription">
        <h2 class="ShadowTextCharlie">LOUFIDY</h2>
        <h1 class="CharlieTitle">Charlie Puth</h1>
        <div class="SongList">
            <ul class="SongList">
                <li>
                    <div class="SongTitle ">We don’t talk anymore </div>
                    <span class="SongSubtitle">Charlie Puth feat Selena Gomez </span>
                </li>
                <li>
                    <div class="SongTitle ">Attention</div>
                    <span class="SongSubtitle">Charlie Puth </span>
                </li>
                <li>
                    <div class="SongTitle ">One Call Away </div>
                    <span class="SongSubtitle">Charlie Puth </span>
                </li>
                <li>
                    <div class="SongTitle ">How Long</div>
                    <span class="SongSubtitle">Charlie Puth </span>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="WrapperFourth">
    <nav class="AppBar">
        <div class="BrandLogo">Loudify.</div>
    </nav>
    <div class="WrapperFourth__Container">
        <div class="GreenBox">
            <section class="GreenBoxContent">
                <h1 class="Title">
                    Hot News
                </h1>
                <div class="Subtitle">DISCOVER NEW TRACKS EVERYDAY</div>
                <div class="Content">
                    Loudify look for the top charts rin a lot of rankings, including  spotify and deezer. 
                    The top artist will appear in the landing page so you can play their songs just with a click
                </div>
            </section>
        </div>
        <div class="ShadowText__Last">
            MUSIC SOUNDS GOOD
        </div>
    </div>
</div>
<footer class="AppFooter">
    <div class="AppName">
        Loudify.
    </div>
    <ul class="FooterList">
        <li>Top charts songs for you</li>
        <li>Global Charts</li>
        <li>My Account</li>
        <li>Translate</li>
    </ul>
</footer>